.contact{
    margin: 20% 0 0 25%;
    background-color: gray;
    border-radius: 10px;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0 25%;
}

input{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 0 0 25%;
}

textarea {
    max-width: 50%;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 0 0 25%;
    padding: 10px;
    line-height: 1.5;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

#submit{
    background-color: rgb(113, 113, 223);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    margin: 10px 0 0 40%;
    align-items: center;
}

button:hover{
    border: 1px solid white;
}

#message{
    border-radius: 10px;
    height: 75px;
}

@media screen and (max-width: 1024px){
    .contact{
        margin: 25% 0 0 5%;
        width: 90%;
    }

    #contact_txt{
        margin-left: 5%;
    }

    input{
        display: block;
        align-items: center;
        margin-top: 5px;
        width: 70%;
        margin: 0 0 0 15%;
    }

    textarea {
        max-width: 70%;
        margin: 0 0 0 15%;
    }
    

    @media screen and (max-width: 757px){
        #contact_txt{
            margin-left: 0;
            display: block;
            font-size: 18px;
        }
    }
}